.hidden {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    color: #2e2f42;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Roboto", sans-serif;
    background: #fff;
    color: #434455;
}

/* ==========COMMON========== */

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* ========================================================================================================================================================
    Header
    ======================================================================================================================================================== */
.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.menu,
.address-info {
    display: none;
}

.page-logo {
    display: block;
    padding: 16px 0;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.text-one {
    color: #2e2f42;
}

.page-nav {
    margin-right: auto;
}

.btn-burger {
    padding: 0;
    border: none;
    border-color: transparent;
    cursor: pointer;
}

.icon-burger {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .btn-burger {
        display: none;
    }

    .page-nav {
        display: flex;
        align-items: center;
    }

    .page-logo {
        margin-right: 120px;
        padding: 24px 0;
    }

    .menu {
        display: flex;
        gap: 40px;
    }

    .menu-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
    }

    .menu-link:hover,
    .menu-link:focus {
        color: #404bbf
    }

    .current {
        position: relative;
        color: #404bbf;
    }

    .current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        background: #404bbf;
        border-radius: 2px;
        height: 4px;
        width: 100%;
    }

    .address-info {
        display: block;
        font-style: normal;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .info {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
    }

    .info:hover,
    .info:focus {
        color: #404bbf
    }
}

@media screen and (min-width: 1158px) {
    .page-logo {
        margin-right: 76px;
    }

    .address-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .info {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/* ========================================================================================================================================================
hero
======================================================================================================================================================== */
.hero {
    background: #2e2f42;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office-t.png);
    max-width: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    margin-left: auto;
    margin-right: auto;
}

.button-hero {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 4px;
    display: block;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover {
    background-color: #404bbf;
}

.button-hero:focus {
    background-color: #404bbf;
}

.title-one {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/people-office-p.png);
        max-width: 768px;
        padding: 112px 0;
    }

    .title-one {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
    }
}

@media screen and (min-width: 1158px) {
    .hero {
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
        max-width: 1440px;
    }
}

/* ========================================================================================================================================================
BENEFITS
======================================================================================================================================================== */
.section-a {
    padding: 96px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



.ul-a {
    flex-wrap: wrap;
    gap: 72px;
    display: flex;
}

.line {
    width: 100%;
}

.benefits-icon-a {
    display: none;
}

.title-three {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.text-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .ul-a {
        gap: 24px;
        text-align: start;
        row-gap: 72px;
    }

    .line {
        flex-basis: calc((100% - 24px));
        max-width: calc(50% - 12px);
    }
}

@media screen and (min-width: 1158px) {
    .ul-a {
        display: flex;
        gap: 24px;
    }

    .line {
        max-width: 264px;
        width: calc((100% - 72px) / 4)
    }

    .benefits-icon {
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        justify-content: center;
        margin-bottom: 8px;
    }

    .benefits-icon-a {
        line-height: 0;
        display: block;
    }

    .title-three {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
    }

    .text-p {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }
}

/* ========================================================================================================================================================
OurTeam
======================================================================================================================================================== */
.section-portfolio {
    padding: 96px 0;
    background-color: #f4f4fd;
}

.title-two-b {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.ul-b {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 72px;
}

.portfolio-person {
    padding: 32px 0;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
}

.page-portfolio {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 428px;
}


.title-three-b {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px
}

.text-p-b {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.ul-b-a {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.link-icon {
    width: 40px;
    height: 40px;
}

.link-icon-a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon-a:hover {
    background-color: #404bbf;
}

.link-icon-a:focus {
    background-color: #404bbf;
}

.icon-icon {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .ul-b {
        gap: 24px;
        row-gap: 64px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 1158px) {
    .section-portfolio {
        padding: 120px 0;
    }
}

/* ========================================================================================================================================================
OurPortfolio
======================================================================================================================================================== */
.section-c {
    padding: 96px 0;
}

.title-two-c {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.ul-c {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.li-c:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.li-c:hover .portfolio-p {
    transform: translateY(0%);
}

.li-c {
    max-width: 288px;
    height: 400px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-b {
    position: relative;
    overflow: hidden;
}

.portfolio-p {
    display: none;
}

.title-two-c {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.container-addition {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.title-three-c {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
}

.text-p-c {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    overflow: auto;
}

@media screen and (min-width: 768px) {
    .li-c {
        max-width: 356px;
        height: 420px;
    }

    .ul-c {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
        justify-content: center;
    }
}

@media screen and (min-width: 1158px) {
    .section-c {
        padding: 120px 0;
    }

    .li-c {
        max-width: 360px;
        height: 420px;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-p {
        position: absolute;
        top: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding: 40px 32px;
        background-color: #4d5ae5;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}